@import "tailwindcss";

:root {
  --background: #f0f2f5;
  --foreground: #111b21;
  --wa-primary: #00a884;
  --wa-bg-panel: #ffffff;
  --wa-bg-main: #efeae2;
  --wa-border: #d1d7db;
  --wa-bubble-out: #d9fdd3;
  --wa-bubble-in: #ffffff;
  --wa-text-primary: #111b21;
  --wa-text-secondary: #667781;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-wa-primary: var(--wa-primary);
  --color-wa-bg-main: var(--wa-bg-main);
  --color-wa-bg-panel: var(--wa-bg-panel);
  --color-wa-border: var(--wa-border);
  --color-wa-bubble-out: var(--wa-bubble-out);
  --color-wa-bubble-in: var(--wa-bubble-in);
  --color-wa-text-primary: var(--wa-text-primary);
  --color-wa-text-secondary: var(--wa-text-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111b21;
    --wa-bg-panel: #202c33;
    --wa-bg-main: #0b141a;
    
    --wa-primary: #00a884;
    
    --wa-bubble-out: #005c4b;
    --wa-bubble-in: #202c33;
    
    --wa-border: #222e35;
    
    --foreground: #e9edef;
    --wa-text-primary: #e9edef;
    --wa-text-secondary: #8696a0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.wa-bg-texture {
  background-color: var(--wa-bg-main);
  background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%23202c33" fill-opacity="0.2" fill-rule="evenodd"%3E%3Ccircle cx="3" cy="3" r="3"/%3E%3Ccircle cx="13" cy="13" r="3"/%3E%3C/g%3E%3C/svg%3E');
}
